@keyframes scaleIn
  0%
    transform: scale(1)
  50%
    transform: scale(1.1)
  100%
    transform: scale(1)

@keyframes pulseOut
  0%
    opacity: 1
  25%
    opacity: .5
  50%
    opacity: 0
  75%
    opacity: .5
  100%
    opacity: 1

@keyframes jump
  0%
    top: 2px
  50%
    top: 4px
  100%
    top: 2px

@keyframes fadeIn
  0%
    opacity: 0
  100%
    opacity: 1

@keyframes spinIn
  0%
    transform: scale(0.3) rotate(-180deg)
  100%
    transform: scale(1) rotate(0)
