@import './variables'

@media screen and (max-width: 1200px)
  .container
    grid-template-columns: 90px calc(100vw - 90px)

    .information-block,
    .streamer__status,
    .streamer__nick
      display: none

    .streamers
      height: 100%
    .header__logo
    h1
      display: none

@media screen and (max-width: 468px)
  .main
    min-height: calc(100vh - 120px)

    .container
      grid-template-rows: 120px calc(100vh - 120px)

    .header
      gap: $gutter / 2
      justify-content: center

    .videos
      grid-template-columns: 100%

@media screen and (max-width: 410px)
  .main
    min-height: calc(100vh - 180px)

    .container
      grid-template-rows: 180px calc(100vh - 180px)
