@import '../variables'

@import '../components/dropdown'
@import '../components/logo'
@import '../components/profile-panel'
@import '../components/search-box'

.header
  background: #fff
  grid-area: header
  display: flex
  z-index: 1
  flex-wrap: wrap
  align-items: center
  flex-wrap: wrap
  padding: calc($gutter / 2) $gutter
  box-shadow: 0 0 5px rgba(#2c2c2c, 0.5)
  justify-content: space-between

  &__logo
    height: 50px
