@import '../variables'

@import './category'

.categories
  overflow-x: auto

  &__list
    height: 70px
    padding: 0
    display: flex
    justify-content: flex-start
    align-items: center
    gap: calc($gutter / 2)
    list-style: none
    margin: 0
