@import '../variables'

.category
  border-radius: 20px
  transition: $base-time
  border: 1px solid $dark
  background: $light

  &--active
    background: $accent
    border: none

    .category__link
      color: #fff

  &:hover
    background: $dark

  &__link
    font-size: $base-size
    padding: 5px 10px
    white-space: nowrap
    display: block
    text-decoration: none
    color: $darker
