@import '../variables'

.information-block
  display: flex
  border-top: 1px solid #fff
  height: 182px
  text-align: center
  border-radius: $base-radius
  padding: 10px

  &__content
    margin: auto
    padding: 20px
    background: lighten($light, 5%)

  &__text

    margin: 0
    font-size: $base-size
    margin-bottom: 20px
    color: $accent

  &__link
    color: $darker
    text-decoration: none
    font-size: $base-size * 1.5
    text-decoration: none
    margin: 0 10px
    transition: $base-time

    &--telegram

      &:hover
        color: #0088cc

    &--instagram

      &:hover
        color: #bc1888

    &--facebook

      &:hover
        color: #4267B2
