@import '../variables'

.logo
  display: flex
  align-items: center
  justify-content: space-around
  h1
    font-size: 1.5em
    margin-left: 15px
    color: $accent
  &__image
    height: 100%
    object-fit: cover
