@import '../variables'
@import '../animation'

.streamer
  transition: $base-time
  color: $darker
  padding: calc($gutter / 2) $gutter
  display: flex
  gap: 15px
  font-size: $base-size
  align-items: center
  width: 100%

  &:hover
    background: $dark

  &--active
    .streamer__status

      &::before,
      &::after
        content: ''
        position: absolute
        border-radius: 50%
        background: #f00

      &::before
        z-index: 1
        top: calc(50% - 5px)
        right: calc(100% + 5px)
        width: 10px
        height: 10px
        animation: pulseIn $base-time * 2 $base-time infinite

      &::after
        top: calc(50% - 7.5px)
        right: calc(100% + 2.5px)
        width: 15px
        height: 15px
        animation: pulseOut $base-time * 2 infinite

  &__avatar
    cursor: pointer
    border-radius: 50%
    width: 50px
    height: 50px
    object-fit: cover

  &__status
    max-width: calc(40% - 30px)
    position: relative
    margin-left: auto

  &__subs
    cursor: pointer
    display: block
    overflow: hidden
    text-overflow: ellipsis

    &:hover
      color: $hover-blue

  &__profile
    max-width: 60%
    gap: 10px
    display: flex
    align-items: center

  &__nick
    cursor: pointer
    text-overflow: ellipsis
    overflow: hidden

    &:hover
      color: $hover-blue
