@import '../variables'
@import '../animation'

.video-preview
  position: relative
  height: 70%

  &__shot
    height: 100%
    width: 100%
    object-fit: cover

  &__info
    position: absolute
    bottom: 10px
    right: 10px
    font-size: $base-size * 0.8
    background: rgba($darker, 0.8)
    color: #fff
    padding: 5px
    display: block
    border-radius: $base-radius
    transition: calc($base-time / 2)

    &:hover
      cursor: pointer
      transform: scale(1.1)

  &__live
    text-decoration: none
    text-transform: uppercase
    background: #f00
    font-size: calc($base-size * 0.8)
    color: #fff
    padding: 5px
    display: block
    border-radius: $base-radius
    z-index: 1
    position: absolute
    top: 10px
    left: 10px
    animation: jump calc($base-time * 1.5) infinite

    &:hover
      cursor: pointer

  &__overlay
    display: none
    align-items: center
    justify-content: center
    position: absolute
    opacity: 100
    animation: fadeIn $base-time forwards
    top: 0
    left: 0
    right: 0
    bottom: 0
    background: rgba($darker, 0.5)

  &__play
    color: #fff
    font-size: 40px
    text-decoration: none
    animation: spinIn $base-time 1
