@import '../variables'

@import './video-preview'
@import './video-footer'

.video
  position: relative
  transition: $base-time

  &:hover
    box-shadow: 0 0 3px rgba($darker, 0.2)
    cursor: pointer
    .video-preview
      &__overlay
        display: flex
