@import '../variables'

@import './video'

.videos
  margin: $gutter 0
  justify-content: center
  min-height: 100%
  display: grid
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr))
  grid-auto-rows: 300px
  gap: $gutter
