@import '../variables'

.video-footer
  display: flex
  padding: 10px
  gap: 20px
  height: 30%
  align-items: flex-start

  &__avatar
    border-radius: 50%
    width: 50px
    height: 50px
    object-fit: cover
    display: block

  &__description
    overflow: hidden
    color: $darker
    line-height: 1.5
    text-align: left

  &__title,
  &__author
    text-decoration: none
    color: $darker
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap
    display: block
    font-family: $base-font

    &:hover
      color: $hover-blue

  &__title
    font-weight: bold
    font-size: $base-size

  &__author
    color: $dark
    font-size: calc( $base-size * 0.8 )

  &__menu
    margin-left: auto
    background: none
    border: none
    color: $darker
    transition: $base-time

    &:hover
      cursor: pointer

      &:active
        color: #000
